<footer>
            <div class="footer" style="margin-top:100px">
            <p>Copyright  2016 - TNS. All Rights Reserved</p>
                <div class="row">
                    <div class="third">
                        <h3 class="footer-header">Customer Service</h3>
                        <div><a href="comingsoon.html">Frequently Asked Questions</a></div>
                        <div><a href="comingsoon.html">Returns</a></div>
                        <div><a href="comingsoon.html">Live Chat</a></div>
                        <div><a href="comingsoon.html">Track Orders</a></div>
                        <div><a href="contact.html">Contact Us</a></div>
                    </div>
                    <div class="third">
                        <h3 class="footer-header">Company Info</h3>
                        <div><a href="about.html">About Us</a></div>
                        <div><a href="comingsoon.html">Complain about Us</a></div>
                    </div>
                    <div class="third">
                        <h3 class="footer-header">Connect</h3>
                        <div>
                            <a href="https://twitter.com/justinbieber">
                                <img src="assets/images/twitter.png" width="20" height="auto"/>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/zuck">
                                <img src="assets/images/facebook.png" width="20" height="auto"/>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/kang_gary8888/">
                                <img src="assets/images/instagram.png" width="20" height="auto"/>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </footer>