<header>
	<div class="header">
		<h1 class="header-logo-text"> <a href="/"> T H O R N E & S P I N D L E </a> </h1>
		<nav class = "navigationBar">
			<ul class="headernav">
				<li class="navItem"><a href="/women">Women</a></li>
				<li class="navItem"><a href="/men">Men</a></li>
				<li class="navItem"><a href="/about">About</a></li>
				<li class="navItem"><a href="/contact">Contact</a></li>
				<li class="navItem" id="cartimage">
					<a class="cart-icon" href="/cart">
						<img src = "/assets/images/thecarticon.png" alt="cart icon" /><span id="cart-qty"></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
