<header>
	<div class="header">
		<h1 class="header-logo-text"> Thorne & Spindle </h1>
		<nav class = "navigationBar">
			<ul class="headernav">
				<li class="navItem"><a href="/women">Women</a></li>
				<li class="navItem"><a href="/men">Men</a></li>
				<li class="navItem"><a href="/about">About</a></li>
				<li class="navItem"><a href="/contact">Contact</a></li>
				<li class="navItem" id="cartimage"><a href="/cart"><img src = "thecarticon.jpg" alt="cart icon" /></a></li>
			</ul>
		</nav>
	</div>
</header>