/* HTML reset */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Source Sans Pro', sans-serif;
	vertical-align: baseline;
}
.row:before {
	display: table;
	content: " ";
}

.row {
	padding-top: 0px;
	margin: 0 auto;
	width: 960px;
}

.row:after {
	clear:both;
	display: table;
	content: " ";
}

.third {
	position: relative;
	margin-right: 15px;
	width: 305px;
	float: left;
}

.third:last-child {
	margin-right: -15px;
}

.footer-header {
	color: #eee;
}

/**** body ******/
.sidebar {
	position: relative;
	margin-right: 15px;
	width: 100px;
	height:750px;
	float: left;
}

.sidebar a {
	color: #000000;
	text-decoration: none;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}

.sidebar a:hover {
	color: #5E9DC8;
}

.main-page {
	position: relative;
	float: left;
	left: 20px;
	width: 150px;
	height:350px;
	padding-right: 40px;
}

.main-page p {
	text-align: center;
	
}

@media screen and (max-width: 980px){
	.row {
		width: 768px;
	}

	.third {
		margin-right: 10px;
		width: 246px;
		padding: 0px;
	}
	
	.main-page {
		margin-right: 10px;
		width: 200px;
		padding: 0px;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.row {
		width: 90%;
	}
	.third {
		padding: 20px;
		width: 100%;
		display:block;
	}
	.sidebar {
		width: 100%;
		height: inherit;
	}
	.sidebar:after {
		clear:both;
	}

	.sidebar a {
		text-align: center;
	}
	.main-page {
		padding: 20px;
		width: 90%;
		float: inherit;
		display:block;
		text-align: center;
		clear:both;
	}
}

img.splash {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

/*** footer ****/
.footer {
     background-color: #777;
     margin-top: 100px;
     color:white;
     clear:both;
     padding:20px;	 	 
}

footer a {
	color: #DCF0F7;
	text-decoration: none;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}

footer a:hover {
	color: #5E9DC8;
}

.copyright {
	text-align: center;
	padding-top:20px;
}



/**** header ******/

header {
	background-color: white;
	padding: 20px;
}

nav.navigationBar{
	padding-top: 20px;
}

ul.headernav li {
	display:inline-block;
	margin:auto;
}

ul.headernav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}

ul.headernav li a.cart-icon {
	padding: 1px 16px 8px 16px;
}

ul.headernav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
} 

li.navItem a{
	border: 1px;
	color: #333;
	border-style:solid;
	border-color:white;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	/* ...and now for the proper property */
	transition:.3s;
}

li.navItem a:link,
li.navItem a:visited {
	color: black;
	text-decoration: none;
}

li.navItem a:hover {
	border: 1px;
	color: #333;
	border-style:solid;
	border-left-color:white;
	border-right-color:white;
}

.cartimage{
	height:53px;
}


.header{
	text-align:center;
}

.header a{
	text-decoration: none;
}

.header .header-logo-text {
	border-top-style: solid;
	border-bottom-style: solid;
	width: 425px;
	margin: auto;
}
.header .header-logo-text a{
	color: black;
	background: #ffffff;
	text-align:center;
	font-family: 'Playfair Display', serif;
}


/*****
 about page
 ****/
 #about-title {
 	text-decoration: underline;
 }
 #about-description {
 	text-indent: 50px;
 }
 #about-body {
 	font-family: Playfair Display;
 }
 .about-avatar {
 	width: 96px;
 	height: 96px;
 }
 .about-ul {
 	list-style: none;
 }
 .about-quote {
 	font-style: italic;
 }
 .about-rightBio {
 	text-align: right;
 }


 
/**** home ******/
.releases {
	clear: both;
}
 

/* contact page */
#contact-table {
	margin-right: auto;
	margin-left: auto;
}
#contact-store-hours {
	text-align: center;
}
#contact-store-hours-table {
	padding-left: 50px;
}
.contact-time {
	padding-left: 50px;
}
#contact-cs-hours {
	text-align: center;
}
#contact-store-hours-table-title {
	text-align: center;
	padding-left: 50px;
}

/* checkout page */
#checkout-form {
	margin-right: auto;
	margin-left: auto;
}
#checkout-table {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
#checkout-order-summary {
	text-align: center;
}
#zipId {
	width: 12%;
}
#phone-area {
	width: 7%;
	text-align: center;
}
#phone-first3 {
	width: 7%;
	text-align: center;
}
#phone-last4 {
	width: 8%;
	text-align: center;
}
#expMonthId {
	width: 6%;
	text-align: center;
}
#expYearId {
	width: 6%;
	text-align: center;
}
#csvCscId {
	width: 12%;
	text-align: center;
}

/**** individual products ******/
.big-image {
	position: relative;
	margin-left: 0px;
	width: auto;
	float: left;
	padding-right: 50px;

}

.big-image-body{
	position: relative;
	float: left;
	width: 400px;
}

#bigpic {
	width: 280px;
	height: 373px;
	transition: 1s ease;
}

#bigpic:hover{
	width: 500px;
	height: 625px;
}

.cart-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.cart-img-container {
	position: relative;
	overflow: hidden;
	height: 250px;
	width: 250px;
	float:left;
}

.cart-img-container img {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
}

.product-attr {
	display:block;
}

.cart-description {
	float:left;
	margin-left: 50px;
}

.cart-empty {
	text-align: center;
	margin-top:200px;
	margin-bottom: 400px;
}

.product-name {
	font-weight: 600;
}

.product-brand {
	font-style: italic;
}

#errors {
	padding-top: 30px;
	padding-left:100px;
	width: 700px;
	margin: 0 auto;
	color: red;
}

.p-error {
	margin-botton:5px;
}

@media screen and (max-width: 768px) {
	#errors {
		padding:10px;
	}
}


button {
	margin-top: 5px;
	padding:5px;
	background-color: #eee;
	border: 1px solid #555;
	transition: 1s ease;
}

button:hover {
	background-color: #DCF0F7;
	box-shadow: 0 8px 16px 0 #ccc;
}

.product-image {
	transition: .4s ease;
}

.product-image:hover {
	box-shadow: 3px 3px 5px #ccc;
}

input, select {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}

.text-center {
	text-align: center;
}

button.big-btn {
	background-color: #4CAF50;
	color: #FFF;
	transition: .5s ease;
	padding: 15px;
	font-size: 18px;
}

button.big-btn:hover {
	background-color: #FFF;
	color: #4CAF50;
}

