img.splash {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.footer {
     background-color:#555555;
     color:white;
     clear:both;
     text-align:center;
     padding:5px;	 	 
}

a.footer {
	color: white;
}


/*****
 about page
 ****/
#about-title {
	text-decoration: underline;
}
#about-description {
	text-indent: 50px;
}
#about-body {
	font-family: Playfair Display;
}
.about-avatar {
	width: 96px;
	height: 96px;
}
.about-ul {
	list-style: none;
	margin-right: 40px;
}
.about-rightBio {
	text-align: right;
}




 